@font-face {
  font-family: Jersey10;
  src: url("./font/Jersey10.ttf");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 2rem;
  overflow: hidden;

  background-color: rgb(25, 25, 25, 0.3);
  color: white;
  font-family: "Jersey10";
  font-size: 2rem;
}

#contents {
  width: 30rem;
  max-height: 30rem;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}
